.modalContainer {
  display: flex;
  justify-content: space-around;
}

.image {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.link {
  margin-top: 3em;
  padding: 0.5em;
  background-color: tomato;
  cursor: pointer;
}

.link:hover {
  color: white;
}
